<div class="card">
  <div class="item item-divider">Your Leagues</div>
  <ion-item ng-show="!settings.leagues.length > 0">No leagues?</ion-item>
  <ion-item ng-repeat="league in settings.leagues" class="item-icon-left item-icon-right" ng-click="settings.logIn(league)">
    <i class="icon ion-person-stalker"></i>
    <div>{{league.displayName}}</div>
    <div style="font-size: 14px;">{{league.leagueName}}</div>
    <i class="icon ion-checkmark" ng-show="league.leagueID === settings.league.leagueID"></i>
  </ion-item>
  <ion-item ng-if="manage" ui-sref="app.settings-switch-leagues" class="text-center positive">Manage Leagues</ion-item>
</div>