.app-container
{
  height: 100%;
  max-width: 1024px;
  margin: auto;
}
.background
{
  background: #45526D;
}
.background-alt
{
  background-color: #0E181D;
}
.background-foos
{
  background: url(../img/foos.jpg) no-repeat center;
  background-size: cover;
  color: #FFFFFF;
}
.background-menu
{
  background: #333B44;
}
.bar.bar-stable
{
   background-color : #ffffff;
}
.bar-subheader
{
  padding: 0;
}
.bold
{
  font-weight: 700;
}
.button.button-positive
{
  background: #3D485F;
  border-color: #242A38;
}
.button.button-positive.activated
{
  background: #373E48;
  border-color: #242A38;
}
.button-large,
.button-large .icon:before
{
  font-size: 20px !important;
  margin-right: 2px;
}
.card, .list-inset
{
  margin: 10px;
}
.card .item.item-input input 
{
  padding-right: 24px;
}
.center
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.divider
{
  height: 1px;
  background: #ddd;
  margin: 7px 0;
}
.elo-red
{
  color: red;
}
.elo-green
{
  color: green;
}
.header-text
{
  font-size: 16px;
  padding: 7px 5px;
}
.highlight 
{
  background: #f5f5dc;
}
hr
{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}
div.grid-item
{
  margin: 5px;
  text-align: center;
}
input[type=search]
{
  width: 100%;
  padding: 5px 15px;
}
ion-item.item.wrap 
{
  white-space: normal;
  text-align: center;
}
.item-complex .item-content, .item-radio .item-content
{
  padding: 16px;
}
.loading-dots
{
  margin: 0px calc((100% - 26px)/2);
}
.loading-text
{
  text-align: center;
  color: white;
  font-size: 28px;
  margin-top: 42px;
}
.padding-sides
{
  padding: 0 10px;
}
.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button
{
  text-align: center;
}
.space:before
{
  padding-right: 16px;
}
.space-around
{
  display: flex;
  justify-content: space-around;
}
.spaced-out
{
  display: flex;
  justify-content: space-between;
}
.dark.spinner svg 
{
  stroke: gray;
  fill: gray;
}
.spinner svg 
{
  stroke: white;
  fill: white;
}
.tab-item.active
{
  font-weight: 500;
  border-bottom: 3px solid;
}
.tab-title
{
  font-size: 13px;
}
.tabs
{
  padding-top: 1px 0;
}
.icon-pulling
{
  color: white;
}
.text-pulling
{
  color: white;
}
.title
{
  font-weight: 500;
  font-size: 17px;
}