<ion-view>
	<ion-nav-title>{{adding ? 'Add' : 'Edit'}} Game</ion-nav-title>
	
	<!-- Cancel button to return to game select state -->
	<ion-nav-buttons side="right">
    <button 
    	class="button button-clear button-assertive" 
    	ng-click="reset()">
    	<div ng-if="canCancel">
    		{{adding ? 'Start Over' : 'Revert'}}
    	</div>
    	<ion-spinner 
    		icon="lines" 
    		class="dark"
    		ng-if="saveStatus === 'saving'">
    	</ion-spinner>
		</button>
  	</ion-nav-buttons>
  	<ion-nav-buttons side="left">
	  <button 
	  	class="button button-clear ion-person-add"
		ng-click="openModal()"></button>
  	</ion-nav-buttons>

  <!-- Header bar for different game types -->
	<div class="bar bar-subheader background" ng-if="players.length > 1">
	  <div class="tabs">
	    <a 
	    	class="tab-item" 
	    	ng-click="gameSelect($index, gameType)" 
	    	ng-repeat="gameType in gameTypes track by $index"
	      ng-class="{active: type.name === gameType.name }"
	      ng-show="gameType.totalPlayers <= players.length"
	      ng-disabled="state === 'saving'">
	      {{gameType.name}}
	    </a>
	  </div>      
	</div>

	<ion-content class="background" ng-class="{'has-subheader': players.length > 1}" has-bouncing="true">

		<!-- Enough players -->
		<div ng-show="players.length > 1 && teams">

			<!-- score at the top while selecting scores -->
			<div class="card" ng-class="{'opaque': saveStatus === 'removed'}">
				<ion-item style="text-align: center">
					<div class="spaced-out">
						<div ng-repeat="team in teams track by $index">
							<div 
								class="player-button" 
								ng-class="{'selected': isSelected($parent.$index, $index) }" 
								ng-repeat="playerID in team.players track by $index"
								ng-click="choosePlayer($parent.$index, $index)"
								ng-disabled="state === 'saving'">
								<strong>{{playerName(playerID) || '-'}}</strong>
							</div>
							<hr style="border-color:#CCC">
							<div 
								class="player-button" 
								ng-class="{'selected': isSelected($index, -1) }"
								ng-click="chooseScore($index)"
								ng-disabled="state === 'saving'">
								<strong>{{team.score === null ? '-' : team.score}}</strong>
							</div>
						</div>
					</div>
				</ion-item>
			</div>
		
			<!-- Player select -->
			<div ng-show="state === 'player-select'">

				<!-- experimental filter bar -->
				<div class="card" ng-if="settings.addGameFilter">
					<input type="search" id="search" placeholder="Filter Players..." ng-model="filter.text" focus-on="selectFilterBar">
				</div>

				<!-- Recent Players -->
				<div class="card recent-players" ng-if="settings.addGameRecents">
					<ion-list>
						<div class="item item-divider">Recent Players</div>
						<div class="grid-container">
							<div 
								class="grid-item player-item item"
								ng-repeat="player in recentPlayers track by $index"
				  		  ng-click="playerSelect(player)"
				  		  ng-disabled="playerSelected(player) || loadRecentPlayers"
				  		  ng-if="$index < 6">
				  		  {{player.displayName | capitalize}} 
				  		</div>
				  		<div class="grid-item item" ng-show="loadRecentPlayers && !recentPlayers">Loading...</div>
				  		<div class="grid-item item" ng-show="!loadRecentPlayers && recentPlayers.length === 0">No Recent Players!</div>
				  	</div>
			  	</ion-list>
				</div>

				<!-- All Players -->
				<div class="card">
					<ion-list>
						<div class="item item-divider">All Players</div>
						<div class="grid-container">
							<div 
								class="grid-item player-item item"
								ng-repeat="player in players | filter:{ displayName: filter.text } track by $index"
				  		  ng-click="playerSelect(player)"
				  		  ng-disabled="playerSelected(player)">
				  		  {{player.displayName | capitalize}}
				  		</div>
				  	</div>
			  	</ion-list>
				</div>
			</div>

			<!-- Score select -->
			<div ng-show="state === 'score-select'">
				<div class="grid-container num-select">
					<div 
						class="grid-item item"
						ng-class="{'bold': !settings.addGameScorePicker && ($index === 5 || $index === 0)}"
						ng-repeat="score in (settings.addGameScorePicker ? scores : scoresTen)"
		  		  ng-click="scoreSelect(score)">
		  		  {{score}}
		  		</div>
		  		<section class="bottom-buttons" ng-show="settings.addGameScorePicker">
			  		<div 
			  			class="grid-item item assertive" 
			  			ng-click="scoreSelect(null)" 
			  			ng-disabled="teams[selectedScoreIndex].score === null">
			  			Clear
			  		</div>
			  		<div 
			  			class="grid-item item" 
			  			ng-click="scoreSelect(0)">
			  			0
			  		</div>
			  		<div 
			  			class="grid-item item positive" 
			  			ng-click="jump()" 
			  			ng-disabled="teams[selectedScoreIndex].score === null">
			  			Next
			  		</div>
			  	</section>
				</div>
			</div>
		
			<!-- Confirm the game -->
			<div ng-show="state === 'confirm'">

				<!-- custom dates and times -->
				<div class="card">
					<div class="item center positive" ng-show="!useCustom" ng-click="enableCustom()">
						Pick a custom date and time
					</div>
					<div class="date-time" ng-show="useCustom">
						<div id="date"></div><div id="time"></div>
						<div class="spaced-out">
							<div class="player-button" ng-click="show('date')">
								{{customDate | toTimestamp | date}}
							</div>
							<div class="player-button" ng-click="show('time')">
								{{customTime}}
							</div>
						</div>
					</div>
				</div>

				<!-- Save button -->
				<div class="padding-sides">
					<button class="button button-full no-margin positive" ng-show="!player.playerID" ng-click="submit()" ng-disabled="teams[0].score === teams[1].score">
						{{adding ? 'Save' : 'Update'}}
					</button>
				</div>
			</div>

			<!-- Saving the game -->
			<div ng-show="state === 'saving'">

				<!-- Progress -->
				<div class="card">
					<ion-item class="wrap">	
						<div ng-show="saveStatus === 'saving'">
							{{adding ? 'Adding' : 'Updating'}} Game...
						</div>
						<div ng-show="saveStatus === 'removing'">
							Removing Game...
						</div>
						<div ng-show="saveStatus === 'success'">
							{{response.message}}
						</div>
						<div class="ion-close" ng-show="saveStatus === 'failed'">
							Something went wrong on the server, talk to Matt or Brik.
						</div>
						<div ng-show="saveStatus === 'removed'">
							Game Removed!
						</div>
					</ion-item>
				</div>

				<!-- Elos after game -->
				<div class="card" ng-show="settings.showElo && response.info">
					<ion-item class="wrap">
						<div>Elos after that game:</div>
						<div class="row">
							<div class="col" ng-repeat="player in response.info.players">
								<div>{{player.name}}</div>
								<div>{{player.elo}} ({{player.delta | eloChange}})</div>
							</div>
						</div>
					</ion-item>
				</div>

				<!-- Undo button -->
				<div ng-click="undo()" class="card" ng-show="gameToUndo" >
					<ion-item class="center assertive">Undo</ion-item>
				</div>

				<!-- Done button -->
				<div ng-click="reset()" class="card" ng-show="adding">
					<ion-item class="center positive">Add Another Game</ion-item>
				</div>
			</div>

		</div>

		<!-- Need to add more players -->
		<div class="card" ng-if="players.length < 2">
			<div class="item item-divider">
				Not enough players to add a game
			</div>
			<div class="item text-center positive" ui-sref="app.add-game-manage-players">
				Add More Players
			</div>
		</div>

		<!-- show loading while waiting -->
		<ion-spinner ng-show="!teams || !players" class="loading-dots" icon="lines"></ion-spinner>

	</ion-content>
</ion-view>