<ion-view>
	<ion-nav-title>{{adding ? 'Add' : 'Edit'}} Game</ion-nav-title>
	
	<!-- Cancel button to return to game select state -->
	<ion-nav-buttons side="right">
    <button 
    	class="button button-clear button-assertive" 
    	ng-click="reset()">
    	<div ng-if="canCancel">
    		{{adding ? 'Clear' : 'Revert'}}
    	</div>
    	<ion-spinner 
    		icon="lines" 
    		class="dark"
    		ng-if="saveStatus === 'saving'">
    	</ion-spinner>
		</button>
  </ion-nav-buttons>

  <!-- Header bar for different game types -->
	<div class="bar bar-subheader background" ng-if="players.length > 1">
	  <div class="tabs">
	    <a 
	    	class="tab-item" 
	    	ng-click="gameSelect($index, gameType)" 
	    	ng-repeat="gameType in gameTypes track by $index"
	      ng-class="{active: type.name === gameType.name }"
	      ng-show="gameType.totalPlayers <= players.length"
	      ng-disabled="state === 'saving'">
	      {{gameType.name}}
	    </a>
	  </div>      
	</div>

	<ion-content class="background" ng-class="{'has-subheader': players.length > 1}" has-bouncing="true">
	
		<!-- Need to add more players -->
		<div class="card" ng-if="players.length < 2">
			<div class="item item-divider">
				Not enough players to add a game
			</div>
			<div class="item text-center positive" ng-click="addMorePlayers()">
				Add More Players
			</div>
		</div>

		<!-- Enough players -->
		<div ng-show="players.length > 1">

			<!-- score at the top while selecting scores -->
			<div class="card" ng-class="{'opaque': saveStatus === 'removed'}">
				<ion-item style="text-align: center">
					<div class="spaced-out">
						<div ng-repeat="team in teams track by $index">
							<div 
								class="player-button" 
								ng-class="{'selected': isSelected($parent.$index, $index) }" 
								ng-repeat="playerID in team.players track by $index"
								ng-click="choosePlayer($parent.$index, $index)"
								ng-disabled="state === 'saving'">
								<strong>{{playerName(playerID) || '-'}}</strong>
							</div>
							<hr style="border-color:#CCC">
							<div 
								class="player-button" 
								ng-class="{'selected': isSelected($index, -1) }"
								ng-click="chooseScore($index)"
								ng-disabled="state === 'saving'">
								<strong>{{team.score === null ? '-' : team.score}}</strong>
							</div>
						</div>
					</div>
				</ion-item>
			</div>
		
			<!-- Player select -->
			<div ng-show="state === 'player-select'">

				<!-- experimental filter bar -->
				<div class="card" ng-if="settings.addGameFilter">
					<input type="search" id="search" placeholder="Filter Players..." ng-model="filter.text">
				</div>

				<!-- show loading while waiting -->
		  	<ion-spinner ng-show="!players" class="loading-dots" icon="lines"></ion-spinner>
				<div class="grid-container">
					<div 
						class="grid-item item"
						ng-repeat="player in players | filter:{ displayName: filter.text }"
		  		  ng-click="playerSelect(player)"
		  		  ng-disabled="playerSelected(player)">
		  		  {{player.displayName | capitalize}}
		  		</div>
				</div>
			</div>
			
			<!-- Score select -->
			<div ng-show="state === 'score-select'">
				<div class="grid-container">
					<div 
						class="grid-item item"
						ng-class="{'bold': $index === 5 || $index === 0}"
						ng-repeat="score in scores"
		  		  ng-click="scoreSelect(score)">
		  		  {{score}}
		  		</div>
				</div>
			</div>
		
			<!-- Confirm the game -->
			<div ng-show="state === 'confirm'">
				
				<!-- Custom times -->
				<div ng-if="false" ng-click="changeTime()" class="card">
					<div class="list">
						<ion-toggle ng-model="useNowTime" toggle-class="toggle-balanced">Use now as timestamp</ion-toggle>
						<label class="item item-input" ng-if="!useNowTime">
			        <span class="input-label">Custom Date</span>
			        <input style="padding: 0" type="text" datepicker ng-model="customDate">
			      </label>
						<label class="item item-input" ng-if="!useNowTime">
			        <span class="input-label">Custom Time</span>
			        <input style="padding: 0" type="text" datepicker ng-model="customTime">
			      </label>
					</div>
				</div>

				<!-- Save button -->
				<!-- <div ng-click="submit()" class="card" ng-disabled="true">
					<ion-item class="center positive">Save</ion-item>
				</div> -->
				<div class="padding-sides">
					<button class="button button-full no-margin positive" ng-show="!player.playerID" ng-click="submit()" ng-disabled="teams[0].score === teams[1].score">
						{{adding ? 'Save' : 'Update'}}
					</button>
				</div>
			</div>

			<!-- Saving the game -->
			<div ng-show="state === 'saving'">

				<!-- Progress -->
				<div class="card">
					<ion-item class="wrap">	
						<div ng-show="saveStatus === 'saving'">
							{{adding ? 'Adding' : 'Updating'}} Game...
						</div>
						<div ng-show="saveStatus === 'success'">
							{{response.message}}
						</div>
						<div class="ion-close" ng-show="saveStatus === 'failed'">
							Something went wrong on the server, talk to Matt or Brik.
						</div>
						<div ng-show="saveStatus === 'removed'">
							Game Removed!
						</div>
					</ion-item>
				</div>

				<!-- Elos after game -->
				<div class="card" ng-show="settings.showElo && response.info">
					<ion-item class="wrap">
						<div>Elos after that game:</div>
						<div class="row">
							<div class="col" ng-repeat="player in response.info.players">
								<div>{{player.name}}</div>
								<div>{{player.elo}} ({{player.delta | eloChange}})</div>
							</div>
						</div>
					</ion-item>
				</div>

				<!-- Undo button -->
				<div ng-click="undo()" class="card" ng-show="gameToUndo" >
					<ion-item class="center assertive">Undo</ion-item>
				</div>

				<!-- Done button -->
				<div ng-click="cancel()" class="card" ng-show="adding">
					<ion-item class="center positive">Add Another Game</ion-item>
				</div>
			</div>

		</div>

	</ion-content>
</ion-view>