<!-- Header bar -->
<ion-header-bar>
  <h1 class="title">History</h1>
</ion-header-bar>

<!-- The content -->
<ion-content class="background" has-bouncing="true">

	<!-- show loading while waiting -->
  <div ng-show="!dates">
    <!-- <div class="loading-text">Serving ball</div> -->
    <ion-spinner class="loading-dots" icon="dots"></ion-spinner>
  </div>

	<!-- The full history of games -->
	<ion-list ng-repeat="day in dates" ng-class="{'last': $last}">
		<ion-item>
			<div class="history-date">
				{{day.date}} - {{day.games.length}} game<span ng-if="day.games.length > 1">s</span>
			</div>
		</ion-item>
		<ion-item style="margin-top:0">
			<div ng-repeat="game in day.games">
				<div ng-repeat="player in game.players">
					{{player.name}} - {{player.score}}
				</div>
				<div ng-if="!$last" class="divider"></div>
			</div>
		</ion-item>
	</ion-list>
</ion-content>