<ion-view view-title="History" cache-view="false">
	
	<!-- show loading on the top right if loading -->
	<ion-nav-buttons side="right">
		<button class="button button-clear" ng-if="loading">
  		<ion-spinner icon="lines" class="dark"></ion-spinner>
		</button>
	</ion-nav-buttons>

	<ion-content class="background" has-bouncing="true">

		<!-- pull to refresh -->
		<ion-refresher pulling-text="Pull to refresh..." spinner="lines" on-refresh="refresh()"></ion-refresher>
	
		<!-- show loading while waiting -->
	  <ion-spinner ng-show="!dates && !error" class="loading-dots" icon="lines"></ion-spinner>
	
	  <!-- no internet message -->
	  <ion-item ng-show="error">No internet connection :(</ion-item>

		<!-- The full history of games -->
		<div ng-show="dates">
			<ion-list ng-repeat="day in dates" ng-class="{'last': $last}">
				<ion-item>
					<div class="spaced-out">
						<div class="history-date">{{day.date | date}}</div>
						<div class="history-games">{{day.games.length}} game<span ng-if="day	.games.length > 1">s</span></div>
					</div>
					<div class="divider"></div>
					<div ng-repeat="game in day.games" ng-click="show(game)">
						<div class="spaced-out">
							<div ng-repeat="team in game.teams" class="game-score">
								<div ng-repeat="player in team.players">
									<span>{{player | capitalize}}</span>
									<span 
                  	ng-show="player.change !== null"
                  	ng-class="{'elo-green': team.change > 0, 'elo-red': team.change < 0}">
                  	{{team.change | eloChange}}
                	</span>
								</div>
								<div><strong>{{team.score}}</strong></div>
							</div>
						</div>
						<div ng-if="!$last" class="divider"></div>
					</div>
				</ion-item>
			</ion-list>

			<!-- Load more games if you reach the bottom -->
			<ion-infinite-scroll
				ng-if="!allLoaded && games"
				spinner="lines"
  		  on-infinite="loadMore()"
  		  distance="1%">
  		</ion-infinite-scroll>
		</div>
	</ion-content>
</ion-view>