<div class="card" ng-repeat="games in dates">
  <ion-list>
    <div class="item item-divider" ng-if="title">{{title}}</div>
    <div class="item item-divider spaced-out" ng-if="!title">
      <div class="history-date">{{games[0].date | toTimestamp | date}}</div>
      <div>{{games.length}} game<span ng-if="games.length > 1">s</span></div>
    </div>
    <ion-item ng-show="!games || games.length === 0">
      Loading...
    </ion-item>
    <ion-item class="game-item" ng-class="{'highlight' : highlight === game.gameID}" ng-repeat="game in games" ng-click="show(game.gameID)">
      <div class="spaced-out">
        <div ng-repeat="team in game.teams" class="game-score">
          <div ng-repeat="player in team.players">
            <span ng-class="{'bold' : player.playerID === settings.playerID }">{{player.displayName | capitalize}}</span>
            <span 
              ng-show="settings.showElo && player.change !== null"
              ng-class="{'elo-green': team.delta > 0, 'elo-red': team.delta < 0}">
              ({{team.delta | eloChange}})
            </span>
          </div>
          <div><strong>{{team.score}}</strong></div>
        </div>
      </div>
      <div class="time">
        <span ng-show="title">{{game.timestamp | date}},</span> {{game.timestamp | time:settings.showRelTimes}}
      </div>
    </ion-item>
  </ion-list>
</div>