<ion-view>
  <ion-nav-title>Settings</ion-nav-title>

	<ion-content class="background" has-bouncing="true">
		
    <!-- General -->
    <div class="card">
      <ion-list>
        <div class="item item-divider">General</div>
			  <ion-toggle ng-change="settings.setProperty('showElo', settings.showElo)" ng-model="settings.showElo" toggle-class="toggle-balanced">Show Ranking Points</ion-toggle>
        <ion-toggle ng-change="settings.setProperty('showRelTimes', settings.showRelTimes)" ng-model="settings.showRelTimes" toggle-class="toggle-balanced">Show Relative Times</ion-toggle>
        <ion-toggle ng-change="settings.setProperty('showBadges', settings.showBadges)" ng-model="settings.showBadges" toggle-class="toggle-balanced">Show Badges</ion-toggle>
        <label class="item item-input item-select">
          <div class="input-label">
            {{ !player.selected ? 'Select a player' : 'You are' }}
          </div>
          <select ng-model="settings.playerID" ng-change="setPlayer(settings.playerID)" ng-options="player.playerID as player.displayName for player in playerSelections"></select>
        </label>
      </ion-list>
		</div>

    <!-- Leaderboard -->
    <div class="card">
      <ion-list>
        <div class="item item-divider">Leaderboard</div>
        <ion-toggle ng-change="settings.setProperty('noGamePlayers', settings.noGamePlayers)" ng-model="settings.noGamePlayers" toggle-class="toggle-balanced">Show No-Game Players</ion-toggle>
      </ion-list>
    </div>

    <!-- Scorecard -->
    <div class="card">
      <ion-list>
        <div class="item item-divider">Scorecard</div>
        <label class="item item-input d-out" ng-show="settings.showElo">
          <span class="input-label">Chart Games</span>
          <input class="text-right" ng-blur="validate('eloChartGames', settings.eloChartGames)" ng-model="settings.eloChartGames" type="tel">
        </label>
        <div class="item item-input spaced-out">
          <div class="input-label">Recent Games</div>
          <input class="text-right" ng-blur="validate('recentGames', settings.recentGames)" ng-model="settings.recentGames" type="tel">
        </div>
      </ion-list>
    </div>

    <!-- Experimental Add Game Settings -->
    <div class="card">
      <ion-list>
        <div class="item item-divider">Experimental Add Game Options</div>
        <ion-toggle ng-change="settings.setProperty('addGameNames', settings.addGameNames)" ng-model="settings.addGameNames" toggle-class="toggle-balanced">Choose All Names First</ion-toggle>
        <ion-toggle ng-change="settings.setProperty('addGameFilter', settings.addGameFilter)" ng-model="settings.addGameFilter" toggle-class="toggle-balanced">Show Filter Bar</ion-toggle>
        <ion-toggle ng-change="settings.setProperty('addGameSelect', settings.addGameSelect)" ng-model="settings.addGameSelect" toggle-class="toggle-balanced" ng-disabled="!settings.addGameFilter"> * Auto Select Filter Bar</ion-toggle>
        <ion-toggle ng-change="settings.setProperty('addGameClear', settings.addGameClear)" ng-model="settings.addGameClear" toggle-class="toggle-balanced" ng-disabled="!settings.addGameFilter"> * Clear Filter Bar On Tap</ion-toggle>
      </ion-list>
    </div>

    <!-- Admin -->
    <div class="card" ng-show="settings.isAdmin">
      <div class="item item-divider">Admin</div>
      <ion-item href="#/app/manage-players">
        <div style="float:left">Manage players</div>
        <div style="float:right" class="ion-ios-arrow-right"></div>
      </ion-item>
      <ion-item ng-if="settings.leagueID === 1" ng-click="update()">
        <div>Update Foosey Server</div>
      </ion-item>
    </div>

    <!-- <div class="card" ng-click="addTestCard()">
      <ion-item>
        Add Test Card
      </ion-item>
    </div> -->

    <!-- Log out -->
    <div class="card">
      <ion-item ng-click="settings.logOut()" class="center assertive">Change League</ion-item>
    </div>

	</ion-content>
</ion-view>