.elo-change
{
	width: 40px;
  text-align: right;
}
.player-name
{
  display: inline-block;
}
.progress
{
  height: 20px;
  margin-top: 5px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar 
{
  float: left;
  width: 0;
  height: 100%;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}
.rank
{
  width: 26px;
  text-align: center;
  padding-right: 8px;
  display: inline-block;
  font-weight: bold;
}