table {
  margin: 10px;
}

th {
  cursor: pointer;
}

/* Doesn't work like I want it to */
/* It does look better though ¯\_(ツ)_/¯ */
progress {
  background: white;
}

input {
  margin: 10px;
  text-align: center;
  border: 1px solid #dfdfdf;
}

input[type="text"] {
  width: 50px;
}

button {
  border: 1px solid #ccc;
  background: #c9d5e4;
  border-radius: 5px;
}

.elo-review-container h2, h3 {
  margin: 3px;
}

.elo-review-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 650px;
}

.elo-review {
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.player-row td {
  border: 1px solid black;
  padding: 5px;
  width: 150px;
  text-align: center;
}

.light-text {
  color: #a2a2a2;
}

.error-message {
  padding: 20px;
  color: red;
  font-weight: bold;
}

tr.player-0 { background: #b45bff; }
tr.player-1 { background: #92c3ff; }
tr.player-2 { background: #ff9abb; }
tr.player-3 { background: #b5ff80; }
tr.player-4 { background: #ffed61; }
tr.player-5 { background: #ffd6a2; }
tr.player-6 { background: #a981ff; }
tr.player-7 { background: #8cffce; }
tr.player-8 { background: #969eba; }
tr.player-9 { background: #3cf8ff; }
tr.player-10 { background: #ffa05c; }
tr.player-11 { background: #ff5a8d; }
tr.player-12 { background: #ff9c1c; }
tr.player-13 { background: #fffce1; }
tr.player-14 { background: #e3fffd; }
tr.player-15 { background: #c66f5a; }
tr.player-16 { background: #50ff81; }
tr.player-17 { background: #ffb5e7; }
tr.player-18 { background: #7be0ff; }
tr.player-19 { background: #27ffa9; }
tr.player-20 { background: #a2ff2d; }

