<ion-view>
	<ion-nav-title>{{player.displayName}}</ion-nav-title>
	
	<ion-content class="background" has-bouncing="true">

    <!-- show loading while waiting -->
    <div class="card" ng-show="settings.showElo && charts.length < 1">
      <ion-item class="center">
        <div ng-show="!error">
          Loading charts<br>
          <ion-spinner class="center dark" icon="lines"></ion-spinner>
        </div>
        <div ng-show="error">Can't connect to server :(</div>
      </ion-item>
    </div>
    
    <!-- set up charts -->
    <chart ng-repeat="chart in charts" options="chart" player="player" show-title="true"></chart>

    <!-- link to other stats -->
    <!-- <ion-item class="card" href="#/app/team-stats">
      <div class="spaced-out">
        <div class="ion-stats-bars space">See team statistics</div>
        <div class="ion-ios-arrow-forward"></div>
      </div>
    </ion-item> -->

		<!-- additional stats -->
		<div class="card">
      <div class="item item-divider">Stats</div>
			<!-- Total Games -->
			<ion-item class="stat-card">
				<div>Total Games</div>
				<div ng-show="player">{{player.gamesPlayed }} games</div>
				<div ng-show="!player">-</div>
			</ion-item>
			<!-- Total Singles -->
			<ion-item class="stat-card">
				<div>Singles</div>
				<div ng-show="player">{{player.singlesTotal}} ({{player.singlesWinRate | percentage:1}} wins)</div>
				<div ng-show="!player">-</div>
			</ion-item>
			<!-- Total Doubles -->
			<ion-item class="stat-card">
				<div>Doubles</div>
				<div ng-show="player">{{player.doublesTotal}} ({{player.doublesWinRate | percentage:1}} wins)</div>
				<div ng-show="!player">-</div>
			</ion-item>
			<!-- Ally -->
			<ion-item class="stat-card">
				<div ng-click="info('Ally?', scorecardInfo.ally)">
					Ally
					<i class="ion-ios-information"></i>
				</div>
				<div ng-show="player">{{player.ally | capitalize}} ({{player.allyCount}} games)</div>
				<div ng-show="!player">-</div>
			</ion-item>
			<!-- Nemesis -->
			<ion-item class="stat-card">
				<div ng-click="info('Nemesis?', scorecardInfo.nemesis)">
					Nemesis
					<i class="ion-ios-information"></i>
				</div>
				<div ng-show="player">{{player.nemesis | capitalize}} ({{player.nemesisCount}} games)</div>
				<div ng-show="!player">-</div>
			</ion-item>
		</div>

		<!-- Recent games, shitty code -->
		<div class="card">
      <ion-list>
        <div class="item item-divider">Recent Games</div>
        <ion-item ng-show="recentGames.length === 0">
          Loading...
        </ion-item>
        <ion-item class="game-item" ng-repeat="game in recentGames">
          <div class="spaced-out">
            <div ng-repeat="team in game.teams" class="game-score">
              <div ng-repeat="player in team.players">
                <span ng-class="{'bold' : player.playerID === settings.playerID }">{{player.displayName | capitalize}}</span>
                <span 
                  ng-show="settings.showElo && player.change !== null"
                  ng-class="{'elo-green': team.delta > 0, 'elo-red': team.delta < 0}">
                  {{team.delta | eloChange}}
                </span>
              </div>
              <div><strong>{{team.score}}</strong></div>
            </div>
          </div>
          <div class="time">{{game.timestamp | date}}, {{game.timestamp | time:settings.showRelTimes}}</div>
        </ion-item>
      </ion-list>
    </div>

	</ion-content>
</ion-view>