<ion-view view-title="{{name}}" cache-view="false">
	<ion-content class="background" has-bouncing="true">
		
		<!-- Player header -->
		<div class="background-foos player-header">
			<!-- <div class="player-title">{{player.name | capitalize}}</div> -->
			<div class="space-around">
				<div ng-show="settings.showElo" class="player-stat">{{player.elo}}<br>Elo Rating</div>
				<div class="player-stat">{{player.winRate * 100 | number:1}}%<br>Win %</div>
			</div>
		</div>

		<!-- link to other stats -->
		<ion-item class="card" href="#/app/team-stats">
			<div class="spaced-out">
				<div class="ion-stats-bars space">See team statistics</div>
				<div class="ion-ios-arrow-forward"></div>
			</div>
		</ion-item>

		<!-- additional stats -->
		<div class="card">
			<!-- Total Games -->
			<ion-item class="stat-card">
				<div>Total Games</div>
				<div ng-show="player">{{player.gamesPlayed }} games</div>
				<div ng-show="!player">-</div>
			</ion-item>
			<!-- Total Singles -->
			<ion-item class="stat-card">
				<div>Singles</div>
				<div ng-show="player">{{player.singlesTotal}} ({{player.singlesWinRate | percentage:1}} wins)</div>
				<div ng-show="!player">-</div>
			</ion-item>
			<!-- Total Doubles -->
			<ion-item class="stat-card">
				<div>Doubles</div>
				<div ng-show="player">{{player.doublesTotal}} ({{player.doublesWinRate | percentage:1}} wins)</div>
				<div ng-show="!player">-</div>
			</ion-item>
			<!-- Ally -->
			<ion-item class="stat-card">
				<div>
					Ally
					<i class="ion-ios-information" ng-click="info(scorecardInfo.ally)"></i>
				</div>
				<div ng-show="player">{{player.ally | capitalize}} ({{player.allyCount}} games)</div>
				<div ng-show="!player">-</div>
			</ion-item>
			<!-- Nemesis -->
			<ion-item class="stat-card">
				<div>
					Nemesis
					<i class="ion-ios-information" ng-click="info(scorecardInfo.nemesis)"></i>
				</div>
				<div ng-show="player">{{player.nemesis | capitalize}} ({{player.nemesisCount}} games)</div>
				<div ng-show="!player">-</div>
			</ion-item>
		</div>

		<!-- show loading while waiting -->
		<div class="card" ng-show="settings.showElo && charts.length < 1">
			<ion-item class="center">
				<div ng-show="!error">
					Loading charts<br>
					<ion-spinner class="center dark" icon="lines"></ion-spinner>
				</div>
				<div ng-show="error">Can't connect to server :(</div>
			</ion-item>
		</div>
	  
		<!-- set up charts -->
		<chart ng-repeat="chart in charts" options="chart"></chart>

	</ion-content>
</ion-view>