<ion-view view-title="{{title}}">
	
	<!-- Cancel button to return to game select state -->
	<ion-nav-buttons side="right">
    <button 
    	class="button button-clear button-assertive" 
    	ng-click="reset()">
    	<div ng-if="state !== 'game-select' && state !== 'saving'">
    		Cancel
    	</div>
    	<ion-spinner 
    		icon="lines" 
    		class="dark"
    		ng-if="saveStatus === 'saving'">
    	</ion-spinner>
		</button>
  </ion-nav-buttons>

	<ion-content class="background" has-bouncing="true">
	
		<!-- Selecting the game type -->
		<div ng-show="state === 'game-select'">
			<ion-item
				class="center title"
				ng-repeat="type in gameTypes" 
				ng-click="gameSelect(type)">
				{{type.name}}
			</ion-item>
		</div>

		<!-- score at the top while selecting scores -->
		<div ng-show="state !== 'game-select'">
			<ion-item style="text-align: center">
				<div class="title">{{type.name}}</div>
				<div ng-repeat="team in game">
					{{team.players | team | capitalize}}: {{team.score}}
				</div>
			</ion-item>
		</div>
	
		<!-- Player select -->
		<div ng-show="state === 'player-select'">
			<!-- show loading while waiting -->
	  	<ion-spinner ng-show="!players" class="loading-dots" icon="lines"></ion-spinner>
			<div class="grid-container">
				<div 
					class="grid-item item" 
					ng-class="{'selected': player.selected}"
					ng-repeat="player in players"
	  		  ng-click="playerSelect(player)">
	  		  {{player.name | capitalize}}
	  		</div>
			</div>
		</div>
		
		<!-- Score select -->
		<div ng-show="state === 'score-select'">
			<div class="grid-container">
				<div 
					class="grid-item item" 
					ng-repeat="score in scores track by $index"
	  		  ng-click="scoreSelect(scores.length - 1 - $index)">
	  		  {{scores.length - 1 - $index}}
	  		</div>
			</div>
		</div>
	
		<!-- Confirm the game -->
		<div ng-show="state === 'confirm'">
			<ion-item class="center" ng-click="submit()">Save</ion-item>
		</div>

		<!-- Saving the game -->
		<div ng-show="state === 'saving'">

			<!-- Progress -->
			<ion-item class="center">	
				<div ng-show="saveStatus === 'saving'">
					Adding Game...
				</div>
				<div class="ion-checkmark" ng-show="saveStatus === 'success'">
					Game Added!
				</div>
				<div class="ion-close" ng-show="saveStatus === 'failed'">
					Couldn't Add Game!
				</div>
			</ion-item>

			<!-- Attachments -->
			<ion-item 
				style="text-align: center" 
				ng-repeat="attachment in attachments">
				<div>{{attachment.pretext | and}}</div>
				<div class="row">
					<div class="col" ng-repeat="field in attachment.fields">
						<div>{{field.title | and}}</div>
						<div>{{field.value}}</div>
					</div>
				</div>
			</ion-item>

			<!-- Undo button -->
			<!-- <ion-item class="center" ng-show="saveStatus === 'success'" ng-click="undo()">Undo</ion-item> -->

			<!-- Done button -->
			<ion-item class="center" ng-click="reset()">Done</ion-item>
		</div>

	</ion-content>
</ion-view>