<ion-view>
  <ion-nav-title>Settings</ion-nav-title>

	<ion-content class="background" has-bouncing="true">
		
    <!-- Settings -->
    <div class="card">
      <ion-list>
			  <ion-toggle ng-change="settings.toggleShowElo()" ng-model="settings.showElo" toggle-class="toggle-balanced">Show Ranking Points</ion-toggle>
        <ion-toggle ng-change="settings.toggleShowRelTimes()" ng-model="settings.showRelTimes" toggle-class="toggle-balanced">Show Relative Times</ion-toggle>
        <label class="item item-input item-select">
          <div class="input-label">
            {{ !player.selected ? 'Select a player' : 'You are' }}
          </div>
          <select ng-model="player.selected" ng-options="player.playerID as player.displayName for player in playerSelections"></select>
        </label>
      </ion-list>
		</div>

    <!-- Players -->
    <div class="card" ng-show="settings.isAdmin">
      <ion-item href="#/app/manage-players">
        <div style="float:left">Manage players</div>
        <div style="float:right" class="ion-ios-arrow-right"></div>
      </ion-item>
      <ion-item ng-click="update()">
        <div>Update Foosey Backend</div>
      </ion-item>
    </div>

    <!-- <div class="card" ng-click="addTestCard()">
      <ion-item>
        Add Test Card
      </ion-item>
    </div> -->

    <!-- Log out -->
    <div class="card">
      <ion-item ng-click="settings.logOut()" class="center">Log out</ion-item>
    </div>

	</ion-content>
</ion-view>