<ion-view view-title="{{title}}">
  <ion-content class="background" has-bouncing="true">
    <!-- pull to refresh -->
    <ion-refresher pulling-text="Pull to refresh..." spinner="lines" on-refresh="refresh()"></ion-refresher>

    <!-- Show if error -->
    <ion-item ng-show="error">No internet connection :(</ion-item>

    <!-- show loading while waiting -->
    <ion-spinner ng-show="!elos && !error" class="loading-dots" icon="lines"></ion-spinner>

    <ion-slide-box on-slide-changed="changeSlide($index)" show-pager="false">

      <!-- ELO Ratings -->
      <ion-slide>
        <!-- list -->
        <ion-list>
          <ion-item 
            ng-repeat="player in elos" 
            ng-class="{'last': $last}"
            href="#/app/player/{{player.name}}">
            <div class="spaced-out">
              <h2>{{player.name | capitalize}}</h2> 
              <div><b>{{player.elo}}</b></div>
            </div>
          </ion-item>
        </ion-list>
      </ion-slide>

      <!-- Avg Score -->
      <ion-slide>
        <ion-item 
            ng-repeat="player in elos" 
            ng-class="{'last': $last}"
            href="#/app/player/{{player.name}}">
            <div class="spaced-out">
              <h2>{{player.name | capitalize}}</h2> 
              <div><b>???</b></div>
            </div>
          </ion-item>
      </ion-slide>

      <!-- % Games won -->
      <ion-slide>
        <ion-item 
            ng-repeat="player in elos" 
            ng-class="{'last': $last}"
            href="#/app/player/{{player.name}}">
            <div class="spaced-out">
              <h2>{{player.name | capitalize}}</h2> 
              <div><b>???</b></div>
            </div>
          </ion-item>
      </ion-slide>

    </ion-slide-box>
  </ion-content>
</ion-view>