.chart-title
{
  font-size: 20px;
  line-height: 25px;
  margin-top: 5px;
}
.player-header
{
	padding: 20px;
}
.player-stat
{
	font-weight: bold;
	font-size: 36px;
  line-height: normal;
	text-align: center;
}
.player-title
{
	font-size: 60px;
  padding-bottom: 30px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px #000000;
}
.stat-card
{
  display: flex;
  justify-content: space-between;
}