<ion-view>
	<ion-nav-title>{{you ? 'You' : player.displayName}}</ion-nav-title>

	<ion-content class="background" has-bouncing="true">

    <!-- pull to refresh -->
    <ion-refresher pulling-text="Pull to refresh..." spinner="lines" on-refresh="refresh()"></ion-refresher>

    <div ng-show="player.gamesPlayed > 0">

      <!-- elo chart -->
      <ion-item class="card" style="padding: 5px 5px 0 5px;" ng-show="settings.showElo" on-double-tap="toggleChart()">
        <div class="center chart-title">
          <span style="padding-right: 5px">Elo Rating: {{player.elo}}</span>
          <span ng-class="{'elo-green': player.dailyChange > 0, 'elo-red': player.dailyChange < 0}">({{player.dailyChange | eloChange}} today)</span>
        </div>
        <div class="padding center" ng-show="!chart">
          {{ error ? 'Can\'t connect to server :(' : 'Loading Elo Chart...' }}
        </div>
        <highchart ng-if="chart" id="chart1" config="chart"></highchart>
      </ion-item>

      <!-- badge definitions -->
      <div class="card" ng-show="settings.showBadges && badges.myBadges(player.playerID).length > 0">
        <div class="item item-divider">Current Badges</div>
        <ion-item class="spaced-out" ng-repeat="badge in badges.myBadges(player.playerID)">
          <div ng-bind-html="badge.emoji | twemoji"></div>
          <div>{{badge.definition}}</div>
        </ion-item>
      </div>

  		<!-- additional stats -->
  		<div class="card">
        <div class="item item-divider spaced-out">
          <div>Stats</div>
          <div>{{player.gamesPlayed}} {{player.gamesPlayed === 1 ? 'game' : 'games'}}</div>
        </div>
        <!-- Last Active -->
        <ion-item class="stat-card">
          <div>Last Active</div>
          <div ng-show="recentGames">{{recentGames[0].timestamp ? (recentGames[0].timestamp | date) : '-'}}</div>
          <div ng-show="!recentGames">-</div>
        </ion-item>
        <!-- Past Week -->
        <!-- <ion-item class="stat-card">
          <div>Past Week</div>
          <div ng-show="player">{{player.pastWeek + (player.pastWeek === 1 ? ' game' : ' games')}}</div>
          <div ng-show="!player">-</div>
        </ion-item> -->
  			<!-- Total Singles -->
  			<ion-item class="stat-card">
  				<div>Singles</div>
  				<div ng-show="player">{{player.singlesTotal}} ({{player.singlesWinRate | percentage:1}} wins)</div>
  				<div ng-show="!player">-</div>
  			</ion-item>
  			<!-- Total Doubles -->
  			<ion-item class="stat-card">
  				<div>Doubles</div>
  				<div ng-show="player">{{player.doublesTotal}} ({{player.doublesWinRate | percentage:1}} wins)</div>
  				<div ng-show="!player">-</div>
  			</ion-item>
  			<!-- Ally -->
  			<ion-item class="stat-card">
  				<div ng-click="info('Ally?', scorecardInfo.ally)">
  					Ally
  					<i class="ion-ios-information"></i>
  				</div>
  				<div ng-show="player.ally">{{player.ally | capitalize}} ({{player.allyCount}} wins)</div>
  				<div ng-show="!player.ally">-</div>
  			</ion-item>
  			<!-- Nemesis -->
  			<ion-item class="stat-card">
  				<div ng-click="info('Nemesis?', scorecardInfo.nemesis)">
  					Nemesis
  					<i class="ion-ios-information"></i>
  				</div>
  				<div ng-show="player.nemesis">{{player.nemesis | capitalize}} ({{player.nemesisCount}} losses)</div>
  				<div ng-show="!player.nemesis">-</div>
  			</ion-item>
  		</div>

      <game-list title="'Recent Games'" list="recentGames" game-count="true"></game-list>

    </div>

    <!-- show loading while waiting -->
    <ion-spinner ng-show="!player" class="loading-dots" icon="lines"></ion-spinner>

    <!-- Need to add a game -->
    <div class="card" ng-show="player.gamesPlayed === 0">
      <div class="item item-divider">
        {{you ? 'You' : 'They'}} have not played yet
      </div>
      <div class="item text-center positive" ui-sref="app.add-game">
        Add a game
      </div>
    </div>

	</ion-content>
</ion-view>