<ion-view view-title="Settings" cache-view="false">
	<ion-content class="background" ng-click="tap()" has-bouncing="true">
		<div class="card">
			<ion-toggle ng-change="settings.toggleShowElo()" ng-model="settings.showElo" toggle-class="toggle-balanced">Show Ranking Points</ion-toggle>
		</div>
    <div class="card" ng-show="tapped > 6">
      <ion-list>
        <div class="item item-divider">Manage Players</div>
        <ion-item ng-repeat="player in players" ng-click="openModal(player)">
          <div style="float:left">
            {{player.displayName}} 
            {{player.active ? '' : '(disabled)'}}
            {{player.admin ? '(admin)' : ''}}
          </div>
          <div style="float:right" class="ion-edit"></div>
        </ion-item>
      </ion-list>
    </div>
    <div class="card">
      <ion-item ng-click="settings.logOut()" class="center">Log out</ion-item>
    </div>
	</ion-content>
</ion-view>