<ion-view view-title="Settings" cache-view="false">
	<ion-content class="background" ng-click="tap()" has-bouncing="true">
		
    <!-- Settings -->
    <div class="card">
      <ion-list>
			  <ion-toggle ng-change="settings.toggleShowElo()" ng-model="settings.showElo" toggle-class="toggle-balanced">Show Ranking Points</ion-toggle>
        <label class="item item-input item-select">
          <div class="input-label">
            {{ !player.selected ? 'Select a player' : 'You are' }}
          </div>
          <select placeholder="(select a player)" ng-model="player.selected" ng-options="player.playerID as player.displayName for player in playerSelections"></select>
        </label>
      </ion-list>
		</div>

    <!-- Hidden manage players section -->
    <div class="card" ng-show="tapped > 6">
      <ion-list>
        <div class="item item-divider">Manage Players</div>
        <ion-item ng-click="openModal()">
          <div style="float:left">Add New Player</div>
          <div style="float:right" class="ion-person-add"></div>
        </ion-item>
        <ion-item ng-repeat="player in players" ng-click="openModal(player)">
          <div style="float:left">
            {{player.displayName}} 
            {{player.active ? '' : '(disabled)'}}
            {{player.admin ? '(admin)' : ''}}
          </div>
          <div style="float:right" class="ion-edit"></div>
        </ion-item>
      </ion-list>
    </div>

    <!-- Log out -->
    <div class="card">
      <ion-item ng-click="settings.logOut()" class="center">Log out</ion-item>
    </div>

	</ion-content>
</ion-view>