.action
{
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 10px 0 5px;
}

.background
{
  bottom: 48px;
  /*background: url(../img/foos.jpg) no-repeat center;*/
  background: #3D485F;
}

.divider
{
  height: 1px;
  background: #ddd;
  margin: 7px 0;
}

.grid-container
{
  margin: 5px;
}

.grid-item
{
  float: left;
  width: 90px;
}

.grid-item.selected
{
  background: #CCCCCC;
}

.header-text
{
  font-size: 16px;
  padding: 7px 5px;
}

.history-date
{
  font-size: 25px;
}

.history-games
{
  font-size: 18px;
}

.ion-ios-arrow-right
{
  float: right;
  font-size: 30px;
  padding-top: 6px;
}

div.item
{
  margin: 5px;
  text-align: center;
}

ion-item.item
{
  margin: 10px 10px 0;
}

ion-item.item.last, ion-list.last ion-item.item
{
  margin-bottom: 10px;
}

.loading-dots
{
  margin: 0px calc((100% - 26px)/2);
}

.loading-text
{
  text-align: center;
  color: white;
  font-size: 28px;
  margin-top: 42px;
}

.row.unlimited-items {
  flex-wrap: wrap;
}

.row.unlimited-items .col{
  flex: none;
  width: 33%;
}

.spaced-out
{
  display: flex;
  justify-content: space-between;
}

.spinner svg 
{
  stroke: white;
  fill: white;
}

.tab-item.tab-item-active
{
  background: #DADADA;
}

.tab-title
{
  font-size: 13px;
}

.tabs
{
  padding-top: 1px;
}