.action
{
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 10px 0 5px;
}

.background
{
  background: #3D485F;
}

.background-foos
{
  background: url(../img/foos.jpg) no-repeat center;
}

.background-menu
{
  background: #7A818A;
}

.bar.bar-stable
{
   background-color : #ffffff;
}

.button.button-positive
{
  background: #3D485F;
  border-color: #242A38;
}

.divider
{
  height: 1px;
  background: #ddd;
  margin: 7px 0;
}

.grid-container
{
  margin: 5px;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.grid-item
{
  float: left;
  width: 90px;
}

.grid-item.selected
{
  background: #CCCCCC;
}

.header-text
{
  font-size: 16px;
  padding: 7px 5px;
}

.history-date
{
  font-size: 25px;
}

.history-games
{
  font-size: 18px;
}

.ion-ios-arrow-right
{
  float: right;
  font-size: 30px;
  padding-top: 6px;
}

div.item
{
  margin: 5px;
  text-align: center;
}

.item-complex .item-content, .item-radio .item-content
{
  padding: 16px;
}

ion-item.item
{
  margin: 10px 10px 0;
}

ion-item.item.last, ion-list.last ion-item.item
{
  margin-bottom: 10px;
}

.loading-dots
{
  margin: 0px calc((100% - 26px)/2);
}

.loading-text
{
  text-align: center;
  color: white;
  font-size: 28px;
  margin-top: 42px;
}

.space:before
{
  padding-right: 16px;
}

.spaced-out
{
  display: flex;
  justify-content: space-between;
}

.spinner svg 
{
  stroke: white;
  fill: white;
}

.tab-item.tab-item-active
{
  background: #DADADA;
}

.tab-title
{
  font-size: 13px;
}

.tabs
{
  padding-top: 1px;
}