.background
{
  background: url(../img/foos.jpg) no-repeat center;
}

.loading-dots
{
  margin: 0px calc((100% - 72px)/2);
}

.loading-text
{
  text-align: center;
  color: white;
  font-size: 28px;
  margin-top: 42px;
}

.spinner svg 
{
  width: 72px;
  height: 72px;
  stroke: white;
  fill: white;
}